<section class="mt-20 w-full border-primary border-t-2 pt-10 text-primary">
  <div>
    <article>
      <h3 class="text-center uppercase font-semibold text-xl">
        ¡Estamos de vuelta!
      </h3>
      <p class="mt-5">
        Nos complace anunciar el relanzamiento de nuestra página web, ¡mejor que
        nunca! Hemos estado trabajando arduamente para crear una experiencia más
        atractiva e interactiva para nuestra comunidad.
      </p>
      <div class="mx-0 m-4 md:mx-20">
        <p>¿Qué puedes esperar?</p>
        <ul class="list-disc mx-5 md:mx-16">
          <li>Nuestras Galerias</li>
          <li>Un diseño moderno y fácil de usar.</li>
          <li>Nuevos contenidos y recursos</li>
          <li>Nuestro museo e historias</li>
          <li>
            Una forma más sencilla de conectarte con nosotros y con otros
            miembros de la comunidad
          </li>
        </ul>
      </div>
      <p class="text-center mt-10 text-lg font-medium">
        ¡Te invitamos a explorar nuestra nueva página web y volver a unirte a la
        comunidad!
      </p>
    </article>
  </div>
</section>
