---
import "@fontsource/mitr";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Autobuses de Colombia pagina oficial. Descubre la mayor comunidad de aficionados a los autobuses en Colombia. Noticias, fotos, historias y eventos sobre el apasionante mundo del transporte público. Únete a nuestra comunidad y comparte tu pasión por los autobuses colombianos."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <div class="max-w-6xl px-10 pt-40 mx-auto">
      <slot />
    </div>
  </body>
</html>

<style is:global>
  html {
    font-family: "Mitr";
    background: #ddd;
  }
</style>
